

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Contact Form*/


.btn-submit, .btn-reset {
	width: 150px;
	float: left;
	margin: 2% 0;
	border: 0;
	padding: 10px 25px;
	font-size: .75em;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-transform: uppercase;
}

.btn-submit {
	background-color: #6AA31D;
	color: white;
}

.btn-reset {
	background-color: #CCC;
	color: black;
	margin-left: 2px;
}


label, input, textarea, span {
		float: left;

	}
	label {
		width: 100%%;
		margin: 1% 0;
	}
	input[type=text], textarea {
		width: 60%;
		background-color: #white;
		color: #black;

	}
	input, textarea {
		padding: 1%;
		border: 0;
		border-radius: 15px;
	}
	input:focus, textarea:focus { 
		outline: none;
		border: 0;
	}
	.required {
	}
	textarea {
		height: 150px;
	}
	p {
		clear:both;
		min-height: 25px;
	}
	#form span {
		border-radius: 20px;
		margin-left:15px;
		padding: 8px 35px;
		background: #faf3bc;
		color:#420600;
	}
	#form span.valid {
		background-color :#c0ce51;
		color: #faf3bc;
	}
	#form span.error {
		background-color:#b0240f;
		color: #faf3bc;
	}   
   
   



/* title background */
.title_bkgd{
	margin-top: 3px;
	background-color: white;
	border-top: 2px solid #cecece;
	/*border-bottom: 2px solid #8cc640;*/
}

/* paragraph stylilng */
p{
	color:#474646;
	font-family: 'Raleway', sans-serif;
}

/* footer styling */
footer{
	margin-top: 20px;
}

/* float right id */
#float-right{
	float: right;
	margin: 10px 0 0 0;
}

/* copyright class styling */
.copyright{
	text-align: center;
}

/* image behind main navigation */
#nav-bkgd{
	z-index: -2;
	float: right;
}


/* testing purpose */
#test{
	border: 2px solid green;
}

/* margins */
#margin-top{
	margin-top: 20px;
}
#margin-top-second{
	margin-top: 20px;
}
#margin-top-first-row{
	margin-top: 70px;
}
.margin_main_container{
	margin-top:40px;
}

/* sub menu id */
#sub-menu{
	/*border: 2px solid black;*/
}

/* h3 and h4 styling */
h3{
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}
h4{
	font-family: 'Raleway', sans-serif;
}

h3.contact_page{
	color: #8cc63e;
}

/* green line is next to the title of the page, on the right side */
.green_line{
	float: right; 
	margin-top: 6px;
}

/* main picture under the title */
.main_picture{
	/*margin-top: -11px; */
	margin-bottom: 20px;
}