.containerManagement {
bottom: 0px ;
display: none ;
position: fixed ;
width: 100%;
}

.containerManagement{
	left: 20px ;
}	
 
#innerManagement {
background-color: white ;
opacity: .9;
/*-webkit-filter: blur(4px);*/
/*border: 1px solid #666666 ;*/
border-bottom-width: 0px ;
padding: 20px 20px 100px 20px ;
}